* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  flex-wrap: wrap;
  background-color: grey;
}

.main-logo img {
  width: 150px;
}

/* ocultar el checkbox */
#menu-toggle {
  display: none;
}

/* estilo del boton hamburguesa */
.menu-icon {
  cursor: pointer;
  display: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  display: block;
}

li a:hover {
  background-color: cadetblue;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  ul {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: grey;
    align-items: flex-start;
    text-align: left;
    padding-left: 10px;
  }

  #menu-toggle:checked + .menu-icon + ul {
    display: flex;
  }
}