* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  padding-top: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  flex-wrap: wrap;
  background-color: #333;
  font-size: 17px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  box-shadow: 0 0 25px #0006;
}

.main-logo img {
  width: 130px;
}

/* ocultar el checkbox */
#menu-toggle {
  display: none;
}

/* estilo del boton hamburguesa */
.menu-icon {
  cursor: pointer;
  display: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  display: block;
}

li a:hover {
  background-color: cadetblue;
}

section {
  padding: 50px;
}

#inicio {
  background-color: #ffc300;
}

#inicio h1 {
  text-align: center; 
  font-family: "Graduate";
  font-weight: 900;
  color: #333;
  font-size: 5vw;
}

#quienes-somos {
  background-color: #555;
  color: white;
}

.cont-quienes-somos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.cont-quienes-somos img {
  width: 100%;
  height: auto;
}

#camino-de-santiago {
  background-color: cornflowerblue;
}

.cont-caminos-europa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caminos-europa {
  width: 50vw;
}

#nuestro-camino {
  background-color: #888;
}

#menu-etapas * { list-style:none;}
#menu-etapas li{ line-height:180%;}
#menu-etapas li a{color:#222; text-decoration:none;}
#menu-etapas li a:before{ content:"\025b8"; color:#ddd; margin-right:4px;}
#menu-etapas input[name="list"] {
	position: absolute;
	left: -1000em;
	}
#menu-etapas label:before{ content:"\025b8"; margin-right:4px;}
#menu-etapas input:checked ~ label:before{ content:"\025be";}
#menu-etapas .interior{display: none;}
#menu-etapas input:checked ~ ul{display:block;}
#menu-etapas img {
  width: 50vw;
}


.cont-sellos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellos {
  width: 80vw;
  border: 3px solid #333;
}

#noticias {
  background-color: #555;
}

#contacto {
  background-color: #777;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

footer p {
  text-align: center;
  padding: 3px;
}

footer a {
  text-decoration: none;
  color: #00a1ee;
}

#noticias h2 {
  color: #ffc300;
}

.noticias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 0px;
  color: white;
}

.noticias h3 {
  padding-top: 10px;
}

.noticias h4 {
  font-size: 15px;
  font-style: italic;
  color: #ffc300;
}

.noticias p {
  text-align: justify;
}

.noticias > div {
  padding: 20px;
}

.aciprensa {
  order: 1;
}

.telefe {
  order: 2;
}

.airesantafe2 {
  order: 3;
}

.airesantafe {
  order: 4;
}

.lt10 {
  order: 5;
}

.relleno {
  order: 6;
}

.aciprensa,
.airesantafe,
.lt10,
.airesantafe2,
.telefe,
.relleno { background-color: #555}

.noticias img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.noticias a {
  text-decoration: none;
  color: white;
}

.contacto {
  font-weight: bold;
}

.contacto a {
  text-decoration: none;
  color: #ffc300;
}

/* RESPONSIVE DESIGN MENU HAMBURGUESA*/
@media (max-width: 1020px) {
  nav {
    font-size: 15px;
  }
}

@media (max-width: 975px) {
  nav {
    font-size: 13px;
  }
}

@media (max-width: 890px) {
  nav {
    font-size: 20px;
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 0 25px #0006;
  }

  body {
    padding-top: 100px;
  }

  .main-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
  }

  .ul-burger {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    display: none;
    background-color: #555;
    align-items: flex-end;
    text-align: right;
    margin: 0;
    padding: 10px 25px 10px 0;
    z-index: 1000;
  }

  #menu-toggle:checked + .menu-icon + .ul-burger {
    display: flex;
  }
}

